*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: gray;
    text-align: center;
    padding-top: 3rem;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    font-size: 8vmin;
    background-color: rgb(3, 51, 35);
}
.reset-btn{
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 1.25rem;
}
.new-btn{
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 1.25rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.msg{
    padding: .5rem;
    font-size: 1.25rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}